---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio Web DevSZeta</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col items-center justify-center min-h-screen bg-[#0A0117] text-white font-roboto"
  >
    <img src="/devszeta-logo-white.png" alt="Logo DevSZeta" class="w-86" />
    <h2 class="text-2xl uppercase shadow-2xl">De tu mente a la web</h2>
    <p class="mt-4 text-lg">Por: Santiago Zeledón Marín</p>
  </body>
</html>
